.jumbotron-title {
        color: #ffffff; 
}
.jumbotron-subtitle {
        color: #ffffff;
}
.header-background-image { 
    
    background-image: url("https://media.deseretdigital.com/file/7b1afa8729?type=jpeg&quality=55&c=15&a=4379240d");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.map-placement {
    min-height: 300px;
    
}
.map-size {
    min-height: 300px;
}
.card-title-text {
    color: #ffffff;
    font-size: 24px;
}
.table-text {
    font-size: 14px;
    color: #000000;
}
.table-header-text {
    font-size: 16px;
    color: #ffffff;
}
.div-scroll {
    overflow: auto;
    width: 100%; 
}
.list-item-container {
height: 100%;
}
.list-of-gas {
    color: blue
}
.list-of-gas:hover {
    color: #ffffff;
    background-color: blue;
}

@media screen and (min-width : 320px)  {
    .list-item-container, .map-placement{
        min-height: 200px;
    }
}

@media screen and (min-width : 480px)  {
    .list-item-container, .map-placement{
        min-height: 350px;
    }
}

@media screen and (min-width : 768px)  {
    .list-item-container, .map-placement{
        min-height: 550px;
    }
}

@media screen and (min-width : 1024px)  {
    .list-item-container, .map-placement{
        min-height: 550px;
    }
}

@media screen and (max-width : 1224px)  {
    .list-item-container, .map-placement{
        min-height: 550px;
    }
}

